*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #ffd700;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer'
  ;
}
ul, ol {
  list-style: none;
}

body header {
  grid-area: header;
  background-color: #ffd700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  height: 20vh;
}
body header img {
  width: 5%;
}

body aside {
  background-color: #d700ff;
  grid-area: aside;
  font-weight: bold;
  height: 70vh;
  /* padding: 1rem; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
body aside ul li {
  margin: 1rem 0;
  transition: 300ms;
  padding: .2rem 0;
  color: #d700ff;
}
body aside ul li:hover {
  background-color: #fff;
}
body aside ul li a {
  text-transform: capitalize;
  padding: .2rem .4rem;
}
body aside ul li:hover a {
  color:#d700ff;
}

body main {
  background-color: #00ffd7;
  grid-area: main;
  padding: 3rem;
}
body main h1 {
  display: inline-block;
  width: 100%;
  height: 30vh;
  background-image: url('../img/kodak-film-and-camera.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 53%;
}
body main h2 {
  padding: .3rem 0;
}
body main p {
  text-align: left;
}

body footer {
  background-color: #ffd700;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}