@import url('https://fonts.googleapis.com/css2?family=Acme&family=Sarabun:ital,wght@0,600;1,400&display=swap');
/* font-family: 'Acme', sans-serif;
font-family: 'Sarabun', sans-serif; */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Sarabun', sans-serif;
  font-weight: regular;
}
ul, ol {
  list-style: none;
}

body {
  background-color: #ddd;
}

.wrapper {
  background-image: url('../img/oz.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 80vw;
  /* height: 100vh; */
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-family: 'Acme', sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

main {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}

main p {
  margin: 10px 0 ;
}

.video {
  /* margin-bottom: 20px; */
  position: relative;
  left: -90px;
}

.video  iframe {
  width: 1280px;
  height: 720px;
}

.curio {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  /* height: 200px; */
  padding: 30px;
  margin: 20px 0;
}

.curio h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}

.curio ol {
  list-style: upper-roman;
  width: 50%;
  text-align:left ;
  margin: 0 auto;
}

#by {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
}
.icons {
  position: fixed;
  right: .5vw;
  top: 1vh;
  display: inline-block;
  width: 60px;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: .5vh 0;
}

.icons a i:hover{  
  color: rgb(220, 0, 0);
}

.fa-instagram-square, .fa-youtube {
  color: #888;
  font-size: 2rem;
}