@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  /* margin: 0; */
  padding: 0;
  color: #000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #131313;
}

body h1 {
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.0) 100%);

  /* background: linear-gradient(rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%); */
  padding: 4px 4px 4px 80px;
  margin: 0;
  height: 20vh;
}

body h2 {
  color: steelblue;
}

body p {
  color: #bdbdbd;
}

body a {
  color:yellow;
}

.media-picture {
  width: 100%;
  height: 400px;
  background-image: url("../img/advengers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.review-score {
  color: #fff;
  background-color: #e6bd09;
  padding: 12px;
  border-radius: 4px;
  text-shadow: 1px 1px 2px #555;
}

.review-score:hover {
  background-color: #f6bd09;
}